{% extends 'base.html.twig' %}

{% block title %}Product Configurator{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center container mt-5">
        {{ include('forms/product.html.twig') }}   
    </div>
</div>
{% endblock %}
